body {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.memory-game img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.memory-game img:hover {
    transform: scale(1.05);
}

.matched {
    filter: brightness(1.3);
    box-shadow: 0 0 15px #00ff00;
}

.made-by {
    color: grey;
    font-size: 0.8rem;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
    padding-top: 10px;
}

.made-by:hover {
    opacity: 1;
}